/* Michalis Koutrakis*/

:root {
    --navbar-height: 150px;
    --home-img-height: 750px;
    --section-img-height: 500px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;

    position: relative;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: var(--navbar-height);

    position: sticky;
    top: 0;
    background-color: #fff;
}

.logo {
    flex: 2;
}

.logo img {
    height: var(--navbar-height);
}

/* Navbar */

.navbar {
    width: 60%;
    flex: 5;
}

.nav {
    height: var(--navbar-height);
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.nav a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    font-weight: 400;
    text-decoration: underline;
}

.nav a:active {
    color: red;
    font-weight: 400;
    text-decoration: underline;
}

/* Toggle */
.navbar-toggle-btn {
    width: 50px;
    text-align: center;
}

.navbar-toggle-btn > button {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
}

.navbar-toggle .nav{
    display: flex;
    flex-direction: column;
}

.navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    margin: 10px 0;
}

.navbar-toggle a {
    display: block;
}

.navbar-toggle .nav > li {
    margin-top: 10px;
}

/* Contact button */

.contact-button {
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.contact-button > button {
    width: 170px;
    height: 50px;
    font-size: 1.1rem;
    background-color: #fff;
    border: 1px solid black;
}

.home-project-btn:hover,
.navbar-toggle-btn > button:hover,
.contact-button > button:hover {
    background-color: #000;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.home-project-btn:active,
.navbar-toggle-btn > button:active,
.contact-button > button:active {
    background-color: red;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

/* HOME */

.home-img {
    height: var(--home-img-height);
    background-image: url("../img/Architecture_img1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title {
    font-size: 7rem;
    color: #fff;
    margin-bottom: 10px;
}

.home-subtitle {
    font-size: 2rem;
    color: #fff;
}

.home-project-btn {
    margin-top: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
}

.home-project-btn a {
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    font-size: 1.1rem;
}

/* MAIN */

main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 40px;
}

section img {
    height: var(--section-img-height);
    width: auto;
}

.section-text {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
}

.section-text > h2 {
    font-size: 3rem;
}

/* ABOUT US*/
.about-us-sm {
    flex:1 1 0;
}

.about-us-sm > img {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 210px;
    width: auto;
}

.about-us {
    display: flex;
    flex-direction: row-reverse;
}

.about-us > .section-img {
    margin-left: 50px;
}

.about-us span {
    display: block;
}

/* CONTACT*/

.contact-sm {
    flex:1 1 0;
}

.contact-sm ul {
    list-style: none;
}

.contact-sm > img {
    float: left;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.contact {
    display: flex;
}

.contact > .section-img {
    margin-right: 50px;
}

.social {
    display: flex;
    margin-top: 10px;
}

.social > a {
    color: #000;
    margin-right: 20px;
}

.contact ul {
    list-style: none;
}

.contact ul > li {
    margin: 10px 0;
}

/* FOOTER */
footer {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 50px;
}

.hidden {
    display: none;
}


@media (min-width: 769px) and (max-width: 1350px) {
    .about-us, .contact {
        display: none;
    }

    .home-img {
        height: 600px;
    }
    
    .home-title {
        font-size: 4rem;
    }
    
    .home-subtitle {
        font-size: 1.5rem;
        text-align: center;
    }

    section {
        height: 450px;
    }
    
    .section-text {
        font-size: 1.2rem;
    }
    
    .section-text > h2 {
        font-size: 2rem;
    }

    .about-us-sm > img {
        height: 80%;
        width: auto;
        margin-left: 20px;
    }

    .contact-sm > img {
        max-width: 60%;
        margin-right: 20px;
    }

    .about-us-sm,
    .contact-sm {
        display: block;
    }
}

@media (max-width: 768px) {
    .logo {
        flex: none;
    }

    .logo img {
        height: 100px;
    }

    header {
        height: 100px;
        justify-content: space-evenly;
        position: static;
    }

    .about-us, .contact {
        display: none;
    }

    .contact-button {
        height: 100px;
        width: 100px;
        flex: none;
    }

    .navbar-toggle-btn {
        display: block;
    }

    .navbar {
        display: none;
    }

    .home-img {
        height: 600px;
    }
    
    .home-title {
        font-size: 1.5rem;
    }
    
    .home-subtitle {
        font-size: 1rem;
        text-align: center;
    }

    section {
        height: 450px;
    }
    
    .section-text {
        font-size: 1rem;
    }
    
    .section-text > h2 {
        font-size: 1.5rem;
    }

    .about-us-sm,
    .contact-sm {
        display: block;
    }
}